.DS_Store
/.srv/*
!/.srv/custom.ini

/plugins/wp-mail-smtp
/plugins/clickcease-click-fraud-protection
/themes/twentytwentythree
/themes/twentytwentyfour
/themes/twentytwentyfive


/front/node_modules
